@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);


#header-menu .last a {
  background-color: #fff;
}

.page-media-header {
  background-color: #F8C400;
  height: auto;
  overflow: auto;
}

.page-media-container {
  left: unset;
  position: static;
  right: unset;
}

#contentcol {
  counter-reset: item;
  font-family: "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 30px;
}

@media (max-width: 767px) {
  #contentcol {
    font-size: 18px;
  }
}

#contentcol h2 {
  font-size: 21px;
}

#contentcol a {
  color: #08c;
  border-bottom: 0 solid transparent;
}

#contentcol a:hover,
#contentcol a:active,
#contentcol a:focus {
  border-bottom: 0 solid transparent;
  color: #23527c;
  text-decoration: underline;
}

#contentcol .h2-tallsans {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 42px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.04em;
  line-height: 1;
  margin-bottom: 8px;
  margin-top: 0;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  #contentcol .h2-tallsans {
    font-size: 34px;
  }
}

#contentcol .numbered-list {
  font-family: "Gotham SSm 8r", "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 800;
  margin-bottom: 35px;
  margin-top: 35px;
}

#contentcol .numbered-list-item {
  counter-increment: item;
  display: block;
  margin-bottom: 40px;
  padding-left: 52px;
  text-indent: -46px;
  line-height: 1.3;
}

@media (max-width: 767px) {
  #contentcol .numbered-list-item {
    margin-bottom: 15px;
    padding-left: 45px;
    text-indent: -46px;
  }
}

#contentcol .numbered-list-item:before {
  background-color: #F8C400;
  border-radius: 100%;
  color: white;
  content: counter(item, decimal);
  display: inline-block;
  height: 35px;
  margin-right: 10px;
  padding: 5px 0;
  position: relative;
  text-align: center;
  text-indent: 0;
  top: 4px;
  vertical-align: bottom;
  width: 35px;
}

@media (max-width: 767px) {
  #contentcol .numbered-list-item:before {
    height: 30px;
    padding: 4px 0;
    top: 2px;
    width: 30px;
  }
}

#contentcol .list-item-desc {
  font-family: "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B";
  font-size: 17px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: italic;
  font-weight: 400;
  display: block;
  margin-top: 2px;
  text-indent: 0;
}

#contentcol .sidebar {
  background-color: #373737;
  color: #fff;
  font-size: 14px;
  padding:  40px 25px 15px;
}

#contentcol .sidebar hr {
    border-top: 1px solid #696969;
    margin: 30px 0;
}

#contentcol .sidebar h2 {
    color: #F8C400;
    text-align: center;
    text-transform: uppercase;
}

#contentcol .sidebar h2 .coming {
    display: block;
    font-size: 50px;
    font-weight: 900;
}

#contentcol .sidebar h2 .season {
    display: block;
    font-size: 83px;
    font-weight: 900;
    line-height: 84px;
}

#contentcol .sidebar h2 .year {
    display: block;
    font-size: 90px;
    font-weight: 900;
    line-height: 86px;
}

#contentcol .sidebar .next-gen {
    font-size: 30px;
    text-align: center;
    line-height: 42px;
}

#contentcol .sidebar img {
    margin-top: 30px;
}

#contentcol .sidebar .unveiling {
    color: #F8C400;
    font-family: Georgia, sans-serif;
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

#contentcol .sidebar label {
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}

#contentcol .gform_wrapper .gfield_required {
    color: #fff;
}

#contentcol .sidebar input[type=text],
#contentcol .sidebar select {
    color: #333;
    width: 100%;
}

#contentcol .sidebar input[type=text] {
    margin-bottom: 20px;
}

#contentcol .sidebar select {
    margin-bottom: 0;
}

.gform_wrapper .gform_footer {
    margin: 0;
}

#contentcol .sidebar input[type=submit] {
    background-color: #F8C400;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: 900;
    padding: 8px 30px;
    text-transform: uppercase;
}

#contentcol .sidebar .gform_confirmation_wrapper {
    margin-bottom: 20px;
}

/* modal */
.modal-title {
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 28px;
}

.modal-body table {
    margin-bottom: 0;
}

div.modal-body table td {
    vertical-align: middle;
    font-family: "Gotham SSm 8r", "Gotham SSm A", "Gotham SSm B";
}

.modal-body table tr:nth-child(1) td {
    border: 0;
}

.modal-body table td:nth-child(3) {
    white-space:nowrap;
}

.modal-body table td:nth-child(4) {
    text-align: right;
}

#contentcol .modal-body .btn-primary {
    background: gold;
    color: black;
    font-family: "Gotham SSm 8r", "Gotham SSm A", "Gotham SSm B";
    border: 0;
    padding: 10px 20px 8px 20px;
}

#contentcol .modal-body .btn-primary:hover {
    background: #FFEA77;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 80%;
        max-width: 900px;
        margin: 30px auto;
    }
}

@media (max-width: 768px) {
    #contentcol .modal-body .btn-primary {
        display: none;
    }
}