/////////////////////////////////
// Helper classes - utilities
/////////////////////////////////

// scss-lint:disable IdSelector
#contentcol {

  // Removes text-transform from an element
  .text-untransform {
    text-transform: none;
  }

  // margin-h_() mixin class aliases:
  .margin-h1 {
    @include margin-h1();
  }

  .margin-h2 {
    @include margin-h2();
  }

  .margin-h3 {
    @include margin-h3();
  }

  .margin-h4 {
    @include margin-h4();
  }

  .margin-h5 {
    @include margin-h5();
  }

  .margin-h6 {
    @include margin-h6();
  }

}
// scss-lint:enable IdSelector


// scss-lint:disable ImportantRule
.supports-autoplay .hide-if-autoplay {
  @media (min-width: $screen-sm-min) {
    display: none !important;
  }
}

.js-video-bg {
  @media (max-width: $screen-xs-max) {
    display: none !important; // never display video bg's on mobile devices
  }
}
// scss-lint:enable ImportantRule


picture br {
  display: none;
}


.object-fit-cover {
  @include object-fit-cover();
}
