/////////////////////////////////
// Helper classes - typography
/////////////////////////////////

// scss-lint:disable IdSelector
#contentcol {

  // @name List Navigation
  //
  // @description Basic unordered list styles with optimized list item spacing applied. Intended for use on lists of links, e.g. "Explore Further", "More Information", etc.
  //
  // @markup
  // <ul class="list-navigation">
  //   <li><a href="#">List Nav 1</a></li>
  //   <li><a href="#">List Nav 2</a></li>
  //   <li><a href="#">List Nav 3</a></li>
  // </ul>
  //
  .list-navigation {
    @include list-reset();
  }

  // @name List Chevrons
  //
  // @description Class for an unordered list with gold chevron icons for bullets.
  //
  // @markup
  // <ul class="list-chevrons">
  //   <li>List Item 1</li>
  //   <li>List Item 2</li>
  //   <li>List Item 3</li>
  // </ul>
  //
  .list-chevrons {
    @include list-reset();
    padding-left: 1.25em;

    li:before {
      @include fa-icon();
      color: $ucf-gold;
      content: $fa-var-chevron-right;
      font-size: .8em;
      line-height: 1;
      margin-left: -1.25em;
      width: 1.25em;
    }

    a {
      text-decoration: none;
    }
  }

  // @name Heading Sans Serif
  //
  // @description Applies generic Gotham styles to a heading.
  //
  // @markup
  // <h3 class="heading-sans-serif">Heading Heading Sans Serif</h3>
  .heading-sans-serif {
    @include gotham(7);
    line-height: 1.25;
    text-transform: uppercase;
  }

  // @name Heading Slab Serif
  //
  // @description Applies generic Archer styles to a heading.
  //
  // @markup
  // <h3 class="heading-slab-serif">Heading Slab Serif</h3>
  //
  .heading-slab-serif {
    @include archer(7);
  }

  // @name Heading Underline
  //
  // @description Styles a heading with a gold underline, Gotham face and uppercase text.
  //
  // @markup
  // <h2 class="heading-underline">Heading Underline</h2>
  .heading-underline {
    // .heading-underline elements should always be consistent in
    // font size, so force them on this class
    @extend .heading-sans-serif;
    font-size: 14px;
    margin-bottom: 14px * 1.7;
    margin-top: 14px * 3;
    padding-bottom: 14px;
    position: relative;

    @media (min-width: $screen-sm-min) {
      font-size: 16px;
      margin-bottom: 16px * 1.7;
      margin-top: 16px * 4;
    }

    &:after {
      background-color: $ucf-gold;
      bottom: 0;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      width: 40px;
    }
  }
}
// scss-lint:enable IdSelector
